<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Image</th>
    </thead>
    <tbody> 
        <tr *ngFor="let maquillaje of maquillajes" [ngClass]="{prom : maquillaje.prom, outProm : !maquillaje.prom}">
            <td>{{maquillaje.name}}</td>
            <td>{{maquillaje.category}}</td>
            <td>{{maquillaje.price | currency}}</td>
            <td><span *ngIf="maquillaje.stock == 0">SIN STOCK</span><span *ngIf="maquillaje.stock > 0">{{maquillaje.stock}}</span></td>
            <td><img src="{{maquillaje.image}}" alt="imagen"></td>
        </tr>
    </tbody>
</table>