.prom{
    border: 3px solid green;
    background-color:  rgb(182, 255, 182);
}

.outProm{
    border: 3px solid rgb(128, 0, 96);
    background-color:  rgb(255, 182, 237);
}

.cantidadTD{
    width: 40%;
    display: flex;
}