<h1>{{title}}</h1>
<table class="table">
    <thead>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Compra</th>
    </thead>
    <tbody class="text-center "> 
        <tr *ngFor="let maquillaje of maquillajes" [ngClass]="{prom : maquillaje.prom, outProm : !maquillaje.prom}">
            <td><img src="{{maquillaje.image}}" alt="{{maquillaje.name}} img"></td>
            <td>{{maquillaje.name}}</td>
            <td>{{maquillaje.category}}</td>
            <td>{{maquillaje.price | currency}}</td>
            <td><span *ngIf="maquillaje.stock == 0">SIN STOCK</span><span *ngIf="maquillaje.stock > 0">{{maquillaje.stock}}</span></td>
            <td>
            <app-input-int [(quantity)]="maquillaje.cantidad" [stock] = "maquillaje.stock" *ngIf="maquillaje.stock" (maxReached)="maxReached($event)"></app-input-int>
            </td>
        </tr>
    </tbody>
</table>